
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .head {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        background-color: aqua;
      }
      .body {
        grid-column: 1 / 4;
        grid-row: 2 / 8;
        background-color: blue;
        
      }
      .footer {
        grid-column: 1 / 4;
        grid-row: 8 / 8;
        background-color: blueviolet;
      }
    
